<p id="notice"><%= notice %></p>

<h1>Image Sets</h1>

<% @shuffled = @image_sets.shuffle %>

<div id="carousel" class="carousel slide" data-ride="false" data-interval="false" data-wrap="false">
  <div class="carousel-inner">
    <% @shuffled.each do |image_set| %>  <!-- shuffle function randomizes order -->
    <!-- first item must be active-->
    <% if image_set == @shuffled.first() %>
    <div class="carousel-item active">
      <%else%>
      <div class="carousel-item">
        <%end%> <!--end conditionals -->
            <% @first_image = image_set.images.first() %>
            <%= image_tag(@first_image.img_url, class: 'd-block w-50 mx-auto') %>
            <%= button_to('Select Image-set', image_set, method: :get, class: 'btn-block') %>
          <!-- button to create/start image_session -->
            <%= button_to('Create', image_sessions_path, params: {user_id: current_user.id, image_id: @first_image.id, greenRight: 0, blueRight: 0, greenWrong: 0, blueWrong:0, colorlessWrong: 0, greenLeft: @first_image.green_areas.length(), blueLeft: @first_image.blue_areas.length()}, method: :post, class:'btn-block')%>
      </div>
      <% end %> <!-- end loop -->
    </div>

    <!--controls-->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br/>
<%= link_to 'Exit Practice', signed_in_root_url, class: 'float-right' %>
