<%= form_with(model: @test_question, local: true) do |form| %>


  <!--displaying the test question-->
  <div class="question-field">
     <% if @test_question.question != nil %>
      <%= form.label @test_question.question%>
     <%end%>

     <%if @test_question.img_url != nil %>
      <%= form.label @test_question.img_url %>
     <%end%>
  </div>

  <div class="answer-choices">
     <% @test_question.test_options.each do |test_option| %>
     <%= render 'test_options/test_options', test_option: test_option %>
     <%end%>
  </div>





  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
