
<h2>User Survey</h2>
<br>

<div class="Demographics">
   <div class="level-field">
     <%= form.label :What_level_are_you_currently_in_training? %>
     <%= form.text_field :level %>
   </div>
   <br/>
   <div class="school-field">
     <%= form.label "Where are you training/practicing currently?" %>
     <%= form.radio_button :school, 'UVA' %> UVA
     <%= form.radio_button :school, 'Other' %> Other<br/>
   </div>
   </br>
   <div class="speciality-field">
     <%= form.label "What specialty do you practice (or plan to practice)?" %>
     <%= form.radio_button :speciality, 'OBGYN' %> OBGYN</br>
     <%= form.radio_button :speciality, 'family_medicine' %>
     <%= form.label :speciality_family_medicine, 'Family medicine' %>
     <%= form.radio_button :speciality, 'internal_medicine' %>
     <%= form.label :speciality_internal_medicine, 'Internal medicine' %>
   </div>
   <br/>
   <div class="OBGYN-field">
     <%= form.label 'If OBGYN – which field do you plan to practice in?' %>
     <%= form.radio_button :obgyn, 'general_obgyn' %>
     <%= form.label :obgyn_general_obygn, 'General OBGYN' %>
     <%= form.radio_button :obgyn, 'gyn_onc' %>
     <%= form.label :obgyn_gyn_onc, 'Gynecologic Oncology' %>
     <%= form.radio_button :obgyn, 'maternal' %>
     <%= form.label :obgyn_maternal, 'Maternal fetal medicine' %>
     <%= form.radio_button :obgyn, 'urogyn' %>
     <%= form.label :obgyn_urogyn, 'Urogynecology' %>
     <%= form.radio_button :obgyn, 'reproduct' %>
     <%= form.label :obgyn_reproduct, 'Reproductive endocrinology and infertility' %>
     <%= form.radio_button :obgyn, 'benign' %>
     <%= form.label :obgyn_benign, 'Benign gynecology (MIGS, etc)' %>
     <%= form.radio_button :obgyn, 'other' %>
     <%= form.label :obgyn_other, 'Other' %>
   </div>
   <br/>
</div>

<div class="Education/Experiece">
   <div class="lectures-field">
     <%= form.label "How many lectures/educational sessions have you received on colposcopy as part of your training?" %>
     <%= form.radio_button :lectures, '1' %>
     <%= form.label :lectures_1, '1' %>
     <%= form.radio_button :lectures, '2' %>
     <%= form.label :lectures_2, '2' %>
     <%= form.radio_button :lectures, '3' %>
     <%= form.label :lectures_3, '3' %>
     <%= form.radio_button :lectures, '4' %>
     <%= form.label :lectures_4, '4' %>
     <%= form.radio_button :lectures, 'greater4' %>
     <%= form.label :lectures_greater4, '>4' %>
   </div>
   <br/>
   <div class="training-field">
     <%= form.label "What aspects of colposcopy education have been incorporated into your training? (Please check all that apply)" %>
     <%= form.radio_button :training, 'Online modules' %> Online Modules
   </div>
   <br/>
   <div class="experience-field">
     <%= form.label "How much prior clinical experience have you had with colposcopy?" %>
     <%= form.radio_button :experience, 'None' %> None <br/>
     <%= form.radio_button :experience, '<5' %> <5 patients <br/>
     <%= form.radio_button :experience, '5-15' %> 5-15 patients<br/>
     <%= form.radio_button :experience, '15-30' %> 15-30 patients<br/>
     <%= form.radio_button :experience, '30-59' %> 30-50 patients<br/>
     <%= form.radio_button :experience, '>50' %> >50 patients<br/>
   </div>
   <br/>
   <div class="prepared-field">
     <%= form.label "How prepared do you feel to perform colposcopy independently?" %>
     <%= form.radio_button :prepared, 'Not at all prepared' %> Not at all prepared<br/>
     <%= form.radio_button :prepared, 'Somewhat prepared' %> Somewhat prepared<br/>
     <%= form.radio_button :prepared, 'Adequately prepared' %> Adequately prepared<br/>
     <%= form.radio_button :prepared, 'Very well prepared' %> Very well prepared<br/>
   </div>
   <br/>
   <div class="rate-field">
     <%= form.label "Please rate how important you feel it is to be trained in colposcopy" %>
     <%= form.radio_button :rate, 'Very important' %> Very important<br/>
     <%= form.radio_button :rate, 'Important' %> Important<br/>
     <%= form.radio_button :rate, 'Neutral' %> Neutral<br/>
     <%= form.radio_button :rate, 'Unimportant' %> Unimportant<br/>
     <%= form.radio_button :rate, 'Very unimportant' %> Very unimportant<br/>
   </div>
   <br/>
</div>
