<p id="notice"><%= notice %></p>

<script>
function greenClicked() {
  alert("You clicked green!");
}
function blueClicked() {
  alert("You clicked blue!");
}
</script>


<%= image_tag(@image.diagram, usemap: "#map") %>


<map name="map">
  <area shape="circle" coords="<%= @image.green_coordinates %>" alt="green area" onclick="greenClicked()">
  <%# end %>

  <area shape="circle" coords="<%= @image.blue_coordinates %>" alt="blue area" onclick="blueClicked()">
  <%#end%>

</map>



<%= link_to 'Edit', edit_image_path(@image) %>
<%= link_to 'Back', images_path %>
